@{
    ViewBag.Title = "Befunge";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="row">
    <section class="col-sm-5 form-inline">
        <h2>Program</h2>
        <div class="input-group">
            <label class="btn btn-default input-group-addon" title="Load File">
                <span class="glyphicon glyphicon-folder-open "></span>
                <span class="sr-only">Open File</span>
                <input id="befunge-file" type="file" style="display: none;">
            </label>
            <input id="file-name" type="text" class="form-control" />
        </div>
        <button id="save-file" class="btn btn-default" title="Save File" disabled="disabled">
            <span class="glyphicon glyphicon-hdd"></span>
            <span class="sr-only">Save File</span>
        </button>

    </section>
    <section class="col-sm-3">
        <h2>Controls</h2>
        <button class="btn btn-primary" title="Reload Torus">
            <span class="glyphicon glyphicon-refresh"></span>
            <span class="sr-only">Reload Torus</span>
        </button>
        <button class="btn btn-primary" title="Run">
            <span class="glyphicon glyphicon-play"></span>
            <span class="sr-only">Run</span>
        </button>
        <button class="btn btn-primary" title="Pause">
            <span class="glyphicon glyphicon-pause"></span>
            <span class="sr-only">Pause</span>
        </button>

    </section>
    <section class="col-sm-4">
        <h2>Step Speed</h2>
        <button class="btn btn-info">1</button>
        <button class="btn btn-info">2</button>
        <button class="btn btn-info">4</button>
        <button class="btn btn-info">8</button>
        <button class="btn btn-info">16</button>
    </section>
</div>
<div class="row">
    <section class="col-sm-6">
        <div class="form-inline">
            <h2 class="h-horizontal">Output</h2>
            <button class="btn btn-danger by-header" title="Clear Console"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">Clear Console</span></button>
        </div>
        <textarea class="form-control" readonly="readonly"></textarea>
    </section>
    <section class="col-sm-6">
        <div>
            <h2 class="h-horizontal">Stack</h2>
            <select class="form-control by-header">
                <option selected="selected">hexadecimal</option>
                <option>decimal</option>
                <option>ascii</option>
            </select>
        </div>
        <textarea class="form-control" readonly="readonly"></textarea>
    </section>
</div>
<div class="row">
    <section class="col-sm-12">
        <textarea cols="80" rows="25" class="hidden"></textarea>
    </section>
</div>
<div class="row">
    <section class="col-sm-12">
        <h2>The Torus</h2>
        <div id="torus-wrapper">
            <div id="torus">

            </div>
        </div>
    </section>
</div>
