@{
    ViewBag.Title = "Befunge";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<h1>Befunge</h1>

<div class="row">
    <section class="col-md-6">
        <h3>Controls</h3>
        <div>
            <button class="btn btn-warning" title="Reload Torus">@@</button>
            <button class="btn btn-primary" title="Run">&gt;</button>
            <button class="btn btn-primary" title="Pause">||</button>
            <!--
                <button id="edit" class="befunge-control"
                title="Edit">#</button>
            -->
            <button class="btn btn-info" title="View/Edit as Text">T</button>
        </div>
    </section>
    <section class="col-md-6">
        <h3>Step Speed</h3>
        <div id="speed-slider" style="margin:10px;width:64px;"></div>
    </section>
</div>
<div class="row">
    <section class="col-md-12">
        <h3>Output Console</h3>
        <textarea id="console" rows="3" cols="40"
                  readonly="readonly"></textarea>
        <button id="clear-console" title="Clear Console" style="float:right;margin:1px 8px;">Clear</button>
    </section>
</div>
<div class="row">
    <section class="col-md-12">
        <h3>Stack</h3>
        <textarea id="stack" rows="3" cols="30"
                  readonly="readonly"></textarea>
        <select id="stack-mode" style="float:right;margin:1px 8px;">
            <option selected="selected">hex</option>
            <option>dec</option>
            <option>asc</option>
        </select>
    </section>
</div>
<div class="row">
    <section class="col-md-12">
        <textarea cols="80" rows="25" class="hidden"></textarea>
    </section>
</div>
<div class="row">
    <table class="table table-condensed">
        @for (int y = 0; y < 25; y++)
        {
            <tr>
                @for (int x = 0; x < 80; x++)
                {
                    <td id='@x-@y' class='befunge-torus-cell'>
                        <input type='text' maxlength='1' />
                    </td>
                }
            </tr>
        }
    </table>
</div>
