
@{
    ViewBag.Title = "My Code";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <h2>My Code in Action</h2>
        <ul>
            <li>@Html.ActionLink("Psytzee", "Psytzee") - Psychic [Dice Poker] game</li>
            <li>@Html.ActionLink("RGB Clock", "RgbClock") - a clock that tells time using three colors</li>
            <li>@Html.ActionLink("Befunge", "Befunge") - a development tool for an esoteric programming language</li>
            <li>@Html.ActionLink("Artificial Intelligence", "Index", "AI") - artifical intelligence exercises</li>
        </ul>
    </div>
</div>


