@{
    ViewBag.Title = "RGB Clock";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<style>
    table.clock {
        width: 100%;
        border: 3px solid black;
        border-collapse: collapse;
    }

    td.red,
    td.green,
    td.blue,
    td.void,
    table.clock th {
        border: 4px solid black;
        padding: 5px 10px;
        color: white;
        width: 17%;
    }

    table.clock th {
        background-color: black;
    }

    td.void {
        background-color: black;
    }

    td.red {
        background-color: red;
    }

    td.green {
        background-color: green;
    }

    td.blue {
        background-color: blue;
    }
</style>

<div class="row">
    <section class="col-sm-12">
        <h2>Introduction</h2>
        <p>
            This is a Javascript prototype of an <a href="https://github.com/mlibby/arduino/tree/master/RgbClock">RGB Clock</a> project I am working on with Arduino, RGB LEDs, and a couple of shift registers.
        </p>
        <p>
            "Normal" clocks display time in base 10 (that is, digits 1234567890). Nerds often make clocks in binary (base 2 -- just 0s and 1s, or lights that are on or off). This clock uses Red, Green, and Blue instead of numerals (denoting the values of zero, one, and two)
        </p>
        <p>
            This clock includes the place numbers for the base 3 numbers to help decode/understand the numbers of the clock. It also includes a "normal" 24 hour clock to aid in double-checking the LED display. The real clock will simply be 11 LED bulbs.
        </p>
    </section>
</div>
<div class="row">
    <section class="col-sm-6">
        <h2>Simulated LEDs</h2>
        <table class="clock">
            <tr>
                <th>Hours</th>
                <td class='r1c1 red'>9s</td>
                <td class='r1c2 red'>3s</td>
                <td class='r1c3 red'>1s</td>
                <td class='r1c4 void'></td>
            </tr>
            <tr>
                <th>Minutes</th>
                <td class='r2c1 red'>27s</td>
                <td class='r2c2 red'>9s</td>
                <td class='r2c3 red'>3s</td>
                <td class='r2c4 red'>1s</td>
            </tr>
            <tr>
                <th>Seconds</th>
                <td class='r3c1 red'>27s</td>
                <td class='r3c2 red'>9s</td>
                <td class='r3c3 red'>3s</td>
                <td class='r3c4 red'>1s</td>
            </tr>
        </table>
    </section>
</div>
<div class="row">
    <section class="col-sm-12">
        <h2>24 Hour Clock</h2>
<pre id='current-time'>23:59:59</pre>
    </section>
</div>

