dt {
    float: left;
    clear: left;
    font-weight: bold;
}

dd {
    margin: 0 0 0 66px;
    padding: 0 0 0.5em 0;
}

.parenthetical dd::before {
    content: '(';
}

.parenthetical dd::after {
    content: ')';
}

.search-results dt::after {
    content: ': '
}

.search-results dt {
    width: 200px;
    text-align: right;
}

.search-results dd {
    margin: 0 0 0 210px;
}

#puzzle {
    border: 3px solid black;
    padding: 5px;
    float: left;
    background-color: #c0c0c0;
}

.puzzle-row {
}

.puzzle-spot {
    display: inline-block;
    font-size: 2em;
    width: 2.1em;
    height: 2.1em;
    padding: 2px;
}

.tile {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    line-height: 1.8em;
    background-color: white;
    border-radius: 2px;
    margin: 0;
    position: relative;
    z-index: 25;
}

#number-9 {
    z-index: 1;
}

.tile.empty {
    border: 0;
    background-color: #c0c0c0;
}

#shuffle-tiles {
    margin: 15px 0;
}

.search-results {
    margin-bottom: 5px;
}