main.container {
    margin-top: 60px;
}

h2 {
    margin-top: 10px;
}

.smallish {
    max-width: 90%;
    margin: 5%;
}

figcaption {
    text-align: center;
}

.about-icon {
    margin-right: 10px;
}
